* {
  margin: 0;
  border-collapse: collapse;
}
body {
  display: flex;
  justify-content: center;
}
#gridContainer {
  border: 1px dotted green;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.rows {
  border: 1px red solid;
}
.cols {
  border: blue 1px solid;
  height: 30px;
  width: 30px;
}
