* {
  margin: 0;
  
}

body {
  display: flex;
  justify-content: center;
}
#mainContainer {
  display: flex;
  flex-direction: column;
}
#gridContainer {
  border: 1px dotted green;
  background-color: lightgray;
  display: flex;
  width: 600px;
  height: 600px;
}

.cols {
/*👉  border: 1px red solid;👈*/
  align-self: stretch;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.singleBox {
/*👉  border: blue 1px solid;👈*/
  height: 100%;
  box-sizing: border-box;
  /*👉border-radius: 50%;👈*/
  
}
#formContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: aqua;
  padding: 10px;

}